<div class="topics__block">
  <p class="topics__block--headline">
    <span class="topics__block--body">
      新規スレッド
    </span>
  </p>

  <%= form_with( model: topic ) do |f| %>
  <%= f.fields_for :categorizations do |c| %>
  <%= c.hidden_field :category_id %>
  <% end %>

  <div class="form-group">
    <%= f.text_field :title, class: "form-control", placeholder: 'スレッドタイトル' %>
  </div>

  <%= f.fields_for :responses do |r| %>
  <div class="form-group">
    <%= r.text_field :name, class: "form-control", placeholder: '名前（省略可）' %>
  </div>

  <div class="form-group">
    <%= r.text_area :body, class: "form-control", placeholder: 'コメント内容' %>
  </div>
  <% end %>

  <p style="text-align: right;">
    <%= f.submit '新規スレッド作成', class: "btn btn-default" %>
  </p>
  <% end %>
</div>
